<div class="card container" style="background-color: #500000; color: #ffffff">
  <h1>Editing Pull Time</h1>

  <%= render "form", pull_time: @pull_time %>

  <br>

  <div>
    <%= link_to "Cancel", @pull_time, :class => "btn btn-secondary mb-2" %>
  </div>
</div>
