<!DOCTYPE html lang="en-us">
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>

    <div class="container mt-2">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #732F2F">
          Select Season
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a value="season2021" class="dropdown-item" href="#">2021</a>
          <a value="season2020"class="dropdown-item" href="#">2020</a>
        </div>
      </div>

      <div class="card container mt-2 mb-2 border-5" id="season2021" style="background-color: #500000; border">
      
        <h4 class="mt-2 ml-2" style="color: #ffffff"> 2021 Football Season Statistics </h4>

        <%# This will all become a loop once we are querying from the database %>
        <div id="accordion" class="mx-auto mt-2">
          <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #732F2F">
              <h5 class="mb-0">
                <button class="btn btn-link">
                  <h4 class="mb-0" style="color: white">TAMU vs. Alabama</h4>
                </button>
              </h5>
            </div>
            <%# TAMU v Alabama body %>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div>
                  <h6 class="mb-0 d-inline">Game Date:</h6>
                  <b class ="d-inline">Saturday, October 9</b>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Section #</th>
                      <th scope="col">Tickets Pulled</th>
                      <th scope="col">Tickets Total</th>
                      <th scope="col">% Allocated</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Total</th>
                      <td>33,000</td>
                      <td>36,000</td>
                      <td>91.6%</td>
                    </tr>
                    <tr>
                      <th scope="row">128</th>
                      <td>2,375</td>
                      <td>2,375</td>
                      <td>100.0%</td>
                    </tr>
                    <tr>
                      <th scope="row">129</th>
                      <td>2,200</td>
                      <td>2,300</td>
                      <td>92.0%</td>
                    </tr>
                    <tr>
                      <th scope="row">130</th>
                      <td>1,100</td>
                      <td>1,300</td>
                      <td>80%</td>
                    </tr>
                  </tbody>
                </table>

                <div>
                    <button type="button" style="background-color: #5B6236; color: #ffffff" class="btn">Export Game Data</button>
                    <button type="button" class="btn" style="background-color: #744F28; color: #ffffff">Edit Game Info</button>
                </div>
                  <%# float child dine %>
              </div>
              <%# card body done %>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="background-color: #732F2F">
              <h5 class="mb-0">
                <button class="btn btn-link">
                  <h4 class="mb-0" style="color: white">TAMU vs. South Carolina</h4>
                </button>
              </h5>
            </div>
            <%# TAMU v Alabama body %>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div>
                  <h6 class="mb-0 d-inline">Game Date:</h6>
                  <b class ="d-inline">Saturday, October 23</b>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Section #</th>
                      <th scope="col">Tickets Pulled</th>
                      <th scope="col">Tickets Total</th>
                      <th scope="col">% Allocated</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Total</th>
                      <td>33,000</td>
                      <td>36,000</td>
                      <td>91.6%</td>
                    </tr>
                    <tr>
                      <th scope="row">128</th>
                      <td>2,375</td>
                      <td>2,375</td>
                      <td>100.0%</td>
                    </tr>
                    <tr>
                      <th scope="row">129</th>
                      <td>2,200</td>
                      <td>2,300</td>
                      <td>92.0%</td>
                    </tr>
                    <tr>
                      <th scope="row">130</th>
                      <td>1,100</td>
                      <td>1,300</td>
                      <td>80%</td>
                    </tr>
                  </tbody>
                </table>

                <div>
                    <button type="button" style="background-color: #5B6236; color: #ffffff" class="btn">Export Game Data</button>
                    <button type="button" class="btn" style="background-color: #744F28; color: #ffffff">Edit Game Info</button>
                </div>
                  <%# float child dine %>
              </div>
              <%# card body done %>
            </div>
          </div>

          <div>
            <button type="button" class="btn mt-2 mb-2" style="background-color: #5B6236; color: #ffffff">Export Season Data</button>
            <button type="button" class="btn mt-2 mb-2" style="background-color: #744F28; color: #ffffff">Edit Season Info</button>
          </div>

        </div>
        <div>
            <button type="button" class="btn mt-2 mb-2" style="background-color: #744F28; color: #ffffff">Edit Seasons</button>
        </div>
      </div>

      <div class="card container mt-2 mb-2" id="season2020" style="background-color: #500000; display: none">
      
        <h4 class="mt-2 ml-2" style="color: #ffffff"> 2020 Football Season Statistics </h4>

        <%# This will all become a loop once we are querying from the database %>
        <div id="accordion" class="mx-auto mt-2">
          <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #732F2F">
              <h5 class="mb-0">
                <button class="btn btn-link">
                  <h4 class="mb-0" style="color: white">TAMU vs. Alabama</h4>
                </button>
              </h5>
            </div>
            <%# TAMU v Alabama body %>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div>
                  <h6 class="mb-0 d-inline">Game Date:</h6>
                  <b class ="d-inline">Saturday, October 9</b>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Section #</th>
                      <th scope="col">Tickets Pulled</th>
                      <th scope="col">Tickets Total</th>
                      <th scope="col">% Allocated</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Total</th>
                      <td>33,000</td>
                      <td>36,000</td>
                      <td>91.6%</td>
                    </tr>
                    <tr>
                      <th scope="row">128</th>
                      <td>2,375</td>
                      <td>2,375</td>
                      <td>100.0%</td>
                    </tr>
                    <tr>
                      <th scope="row">129</th>
                      <td>2,200</td>
                      <td>2,300</td>
                      <td>92.0%</td>
                    </tr>
                    <tr>
                      <th scope="row">130</th>
                      <td>1,100</td>
                      <td>1,300</td>
                      <td>80%</td>
                    </tr>
                  </tbody>
                </table>

                <div>
                    <button type="button" style="background-color: #5B6236; color: #ffffff" class="btn">Export Game Data</button>
                    <button type="button" class="btn" style="background-color: #744F28; color: #ffffff">Edit Game Info</button>
                </div>
                  <%# float child dine %>
              </div>
              <%# card body done %>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="background-color: #732F2F">
              <h5 class="mb-0">
                <button class="btn btn-link">
                  <h4 class="mb-0" style="color: white">TAMU vs. South Carolina</h4>
                </button>
              </h5>
            </div>
            <%# TAMU v Alabama body %>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div>
                  <h6 class="mb-0 d-inline">Game Date:</h6>
                  <b class ="d-inline">Saturday, October 23</b>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Section #</th>
                      <th scope="col">Tickets Pulled</th>
                      <th scope="col">Tickets Total</th>
                      <th scope="col">% Allocated</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Total</th>
                      <td>33,000</td>
                      <td>36,000</td>
                      <td>91.6%</td>
                    </tr>
                    <tr>
                      <th scope="row">128</th>
                      <td>2,375</td>
                      <td>2,375</td>
                      <td>100.0%</td>
                    </tr>
                    <tr>
                      <th scope="row">129</th>
                      <td>2,200</td>
                      <td>2,300</td>
                      <td>92.0%</td>
                    </tr>
                    <tr>
                      <th scope="row">130</th>
                      <td>1,100</td>
                      <td>1,300</td>
                      <td>80%</td>
                    </tr>
                  </tbody>
                </table>

                <div>
                    <button type="button" style="background-color: #5B6236; color: #ffffff" class="btn">Export Game Data</button>
                    <button type="button" class="btn" style="background-color: #744F28; color: #ffffff">Edit Game Info</button>
                </div>
                  <%# float child dine %>
              </div>
              <%# card body done %>
            </div>
          </div>

          <div>
            <button type="button" class="btn mt-2 mb-2" style="background-color: #5B6236; color: #ffffff">Export Season Data</button>
            <button type="button" class="btn mt-2 mb-2" style="background-color: #744F28; color: #ffffff">Edit Season Info</button>
          </div>

        </div>
        <div>
            <button type="button" class="btn mt-2 mb-2" style="background-color: #744F28; color: #ffffff">Edit Seasons</button>
        </div>
      </div>
  </div>
  </div>

  </body>
</html>

<%# should probably put into another document %>
<style>
.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  


button { display: block; }

</style>

