<% now = DateTime.now %>
<% end_of_year = Time.new(now.year, 12, 31, 11, 59, 59) %>

<!DOCTYPE html lang="en">
<html>
<head>
  <style>
      .float-container {
          padding: 20px;
      }

      .float-child {
          width: 50%;
          float: left;
          padding: 20px;
      }
  </style>
</head>
<body>


        <%# Main Layout %>
        <main>
        <h1 class='text-center'>List Eaters</h1>
        <h6 class='text-center'>We eat the lists so you don't have to.</h6>
            <%# Background Image %>
            <div class="has-bg-img" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(/kyle-field-westside-view.jpg); background-size: cover; background-repeat: no-repeat; height: 100vh;">
                <div class="float-container">
                    <%# Ticket Pull Times %>
                    <div class="float-child">  
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">Ticket Pull Times</div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Grad Students & Seniors | 8am - 5pm | Monday</li>
                                <li class="list-group-item">Juniors | 8am - 5pm | Tuesday</li>
                                <li class="list-group-item">Sophomores | 8am - 5pm | Wednesday</li>
                                <li class="list-group-item">Freshmen | 8am - 5pm | Thursday</li>
                                <li class="list-group-item">All classes (if available)* | 8am - 5pm | Friday</li>
                                <li class="list-group-item">Walk-up (if available)** | 8am - 5pm | Friday</li>
                            </ul>
                        </div>
                    </div>
                    <%# Ticket Pull Times %>

      <%# Football Games Table %>
      <div class="float-child">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead class="thead-light">
            <tr>
              <th colspan="5" style="text-align: center;"><%= now.year %> Season</th>
            </tr>
            <tr>
              <th scope="col">Opponent</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            <% Game.where(gamedate: now..end_of_year).order(:gamedate).each do |game| %>
              <tr>
                <td><%= game.opponent %></td>
                <td><%= game.gamedate.strftime('%A, %B %e') %></td>
                <td><%= game.gamedate.hour == 0 ? 'TBD' : game.gamedate.strftime('%l:%M %p') %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <div>
          </div>
          <%# Football Games Table %>
        </div>
      </div>
      <%# Background Image %>
    </div>
  </div>
</main>
<%# Main Layout %>
</body>
</html>