<!DOCTYPE html lang="en-us">
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark" style="background-color: #500000">
      <a class="navbar-brand mr-left" href="#">
        <img src="Aggie-Pull-Day/logo/logo-1024x768.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Aggie Ticket Pull
      </a>
      <div class="navbar-nav mr-right">
        <div>
            <button id="loginDrop" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </button>
            <div class="dropdown-menu" aria-labelledby="loginDrop">
              <a class="dropdown-item" href="#">Student Login</a>
              <a class="dropdown-item" href="#">Admin Login</a>
            </div>
          </div>
      </div>
    </nav>

    <div class="container mt-2">
      <div class="card mx-auto" style="width: 18rem; background-color: #998542">
        <div class="container">
          <div>
            <h6 class="mb-0 d-inline">Student:</h6>
            <b class ="d-inline">Phillip Ritchey</b>
          </div>
          <div>
            <h6 class="mb-0 d-inline">Classification:</h6>
            <b class ="d-inline">U4</b>
          </div>
        </div>
      </div>

      <%# This will all become a loop once we are querying from the database %>
      <div id="accordion" class="mx-auto mt-2">
      <div class="card">
        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #732F2F">
          <h5 class="mb-0">
            <button class="btn btn-link">
              <h4 class="mb-0" style="color: white">TAMU vs. Alabama</h4>
            </button>
          </h5>
        </div>
        <%# TAMU v Alabama body %>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="float-container">
              <div class="float-child">
                <div>
                  <h6 class="mb-0 d-inline">Status:</h6>
                  <h4 class="d-inline"><span class="badge badge-primary">Ready to Pull</span></h4>
                </div>
                <div>
                  <h6 class="mb-0 d-inline">Group Classification:</h6>
                  <b class ="d-inline">U4</b>
                </div>
                <div>
                  <h6 class="mb-0 d-inline">Beginning Pull Date:</h6>
                  <b class ="d-inline">Monday, October 8th</b>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Classification</th>
                      <th scope="col">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark Otto</td>
                      <td>U4</td>
                      <td>mark@tamu.edu</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob Thornton</td>
                      <td>U4</td>
                      <td>jacob@tamu.edu</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry Bird</td>
                      <td>U4</td>
                      <td>larry@tamu.edu</td>
                    </tr>
                  </tbody>
                </table>
              </div>
      
              <div class="float-child">
                <div>
                  <button type="button" class="btn mt-5 mb-5" style="background-color: #500000; color: #ffffff" disabled>Create Group</button>
                </div>
                <div>
                  <button id="btnGroupDrop1" type="button" style="background-color: #5B6236" class="btn btn-secondary dropdown-toggle mt-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add to Group
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Add Emails</a>
                    <a class="dropdown-item" href="#">Copy Invite Link</a>
                  </div>
                </div>
                <div>
                  <button type="button" class="btn mt-3" style="background-color: #744F28; color: #ffffff">Remove from Group</button>
                </div>
                <div>
                  <button type="button" class="btn mt-5" style="background-color: #afafaf">Leave Group</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="card">
        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="background-color: #732F2F">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed">
              <h4 class="mb-0" style="color: white">TAMU vs. South Carolina</h4>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="card-body">
            <div class="float-container">
              <div class="float-child">
                <div>
                  <h6 class="mb-0 d-inline">Status:</h6>
                  <h4 class="d-inline"><span class="badge badge-danger">Not in Group</span></h4>
                </div>
                <div>
                  <h6 class="mb-0 d-inline">Group Classification:</h6>
                  <b class ="d-inline">N/A</b>
                </div>
                <div>
                  <h6 class="mb-0 d-inline">Beginning Pull Date:</h6>
                  <b class ="d-inline">N/A</b>
                </div>
                <%# <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Classification</th>
                      <th scope="col">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark Otto</td>
                      <td>U4</td>
                      <td>mark@tamu.edu</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob Thornton</td>
                      <td>U4</td>
                      <td>jacob@tamu.edu</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry Bird</td>
                      <td>U4</td>
                      <td>larry@tamu.edu</td>
                    </tr>
                  </tbody>
                </table> %>
              </div>
      
              <div class="float-child">
                <div>
                  <button type="button" class="btn mt-5 mb-5" style="background-color: #500000; color: #ffffff">Create Group</button>
                </div>
                <div>
                  <button id="btnGroupDrop1" type="button" style="background-color: #5B6236" class="btn btn-secondary dropdown-toggle mt-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                    Add to Group
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Add Emails</a>
                    <a class="dropdown-item" href="#">Copy Invite Link</a>
                  </div>
                </div>
                <div>
                  <button type="button" class="btn mt-3" style="background-color: #744F28; color: #ffffff" disabled>Remove from Group</button>
                </div>
                <div>
                  <button type="button" class="btn mt-5" style="background-color: #afafaf" disabled>Leave Group</button>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>

<%# should probably put into another document %>
<style>
.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  


button { display: block; }

</style>

