<div id="<%= dom_id group %>">
  <p>
    <strong>Group Name:</strong>
    <%= group.groupname %>
  </p>

  <p>
    <strong>Group Owner:</strong>
    <%= group.owner %>
  </p>

  <p>
    <strong>Has<%= group.pulled ? ' ' : ' not ' %>pulled</strong>
  </p>

</div>
