<div class="card container" style="background-color: #500000; color: #ffffff">
<h1>Editing group</h1>

<%= render "form", group: @group %>

<br>

<div>
    <%= link_to "Cancel", @group, :class => "btn btn-secondary mb-2" %>
</div>
