<div class="card container" style="width: 25rem;">
  <div class="card-body">
    <h2>Create New Group</h2>

    <%= render "form", group: @group %>

    <br>

    <div>
      <%= link_to "Cancel", current_user, :class => "btn btn-secondary" %>
    </div>
  </div>
</div>