<div class="card container" style="background-color: #500000; color: #ffffff">
  <h1>Editing User</h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Cancel", @user, :class => "btn btn-secondary mb-2" %>
  </div>
</div>