<div class="card container" style="background-color: #500000; color: #ffffff">

  <h1>New User</h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Cancel", users_path, :class => "btn btn-secondary" %>
  </div>

</div>
