<div id="<%= dom_id game %>">
  <p>
    <strong>Opponent:</strong>
    <%= game.opponent %>
  </p>

  <p>
    <strong>Start Time:</strong>
    <%= game.gamedate.strftime("%B %d, %Y at %l:%M %p") %>
  </p>

</div>
