<div class="card container" style="background-color: #500000; color: #ffffff">

  <h1>New Game</h1>

  <%= render "form", game: @game %>

  <br>

  <div>
    <%= link_to "Cancel", games_path, :class => "btn btn-secondary" %>
  </div>

</div>
